In [7]:
import nlp_app
import pandas as pd

In [8]:
# Train and build model
vectorizer = nlp_app.vectorizer_fit()
X_Train_vect = nlp_app.transform(vectorizer)
grid = nlp_app.train_nlp_model(X_Train_vect)

Best cross-validation score: 0.730
Best parameters:  {'C': 0.1}

In [9]:
# Vectorize / transform tweet / predict
tweet = ["Thousands killed in massive bee swarm"]
tweet_vect = nlp_app.transform_tweet(vectorizer, tweet)
nlp_app.make_prediction(grid, tweet_vect)

'Disaster'

In [42]:
df_test = pd.read_csv("../data/test.csv")
df_test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [50]:
df_test['index_col'] = df_test.index

In [51]:
df_test

,id,keyword,location,text,index_col
0,0,NaN,NaN,Just happened a terrible car crash,0
1,2,NaN,NaN,"Heard about #earthquake is different cities, s...",1
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are...",2
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires,3
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan,4
...,...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...,3258
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...,3259
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...,3260
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...,3261
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...,3262

In [60]:
tweet_list = []

for index, tweet in enumerate(df_test["text"].sample(n=11).values):
    temp_list = []
    if index ==index: 
        tweet_vect = nlp_app.transform_tweet(vectorizer, [tweet])
        prediction = nlp_app.make_prediction(grid, tweet_vect)
#         temp_list.append(id)
        temp_list.append(tweet)
        temp_list.append(prediction)
        tweet_list.append(temp_list)
    else:
        pass
tweet_list

[['WAS Times: PawSox owners public return from whirlwind trip to Durham http://t.co/07nKMO7VaS',
  'Disaster'],
 ["Bigamist and his 'first' wife are charged in the deaths of his 'second' pregnant wife her child 8 her mother\x89Û_ http://t.co/t5HwUnjK7g",
  'Disaster'],
 ['@jemmaswans i needed such a breather today oh my god i went on lunch and collapsed like a sack of bones in my car',
  'Not a Disaster'],
 ['Ok two of my favorite things have collided into one great HT #LiteraryCakes  https://t.co/E2meY0aKPu',
  'Not a Disaster'],
 ["What they (dentists) don't tell u is how much ur mouth will be in pain when the numbing wears off because of the puncture wounds in ur gums.",
  'Not a Disaster'],
 ['Worker rescued from top of Central Street water tower in Summerside http://t.co/MkMlCTYmee',
  'Disaster'],
 ['Bioterrorism : Guidelines for Medical and Public Health Management (2002) http://t.co/zkUXHnoBaG http://t.co/FHgkYxffu5',
  'Disaster'],
 ['@Mintechan Hihow are you? There is Keio line on the stationright? BTW do you know the airplane accident near Chofu airport this week?',
  'Disaster'],
 ['To All The Meat-Loving Feminists Of The World Riot... http://t.co/tNI5SCpBMA #followme | https://t.co/OFtj2sXYPf http://t.co/lVYemK99uV',
  'Not a Disaster'],
 ['Listen to Apollo Brown - Detonate (feat. M.O.P.) by Mello Music Group #np on #SoundCloud https://t.co/C0Fex1XAlG',
  'Not a Disaster'],
 ['suspected serial arsonist in east bay under arrest @christinKPIX5 @NightBeatTV 10pm @KBCWtv @VeronicaDLCruz',
  'Disaster']]

In [58]:
df_sample = df_test.sample(n = 10)

In [55]:
df_sample["text"].values

array(['took her to the trap house now lil mama trapped out ??',
       'Watch This Airport Get Swallowed Up By A Sandstorm In Under A Minute http://t.co/TLcWeZPuKW',
       'Israeli police unable to solve the case of Duma arson attack http://t.co/WtZgXzaf7Z',
       'Pandemonium In Aba As Woman Delivers Baby Without Face (Photos) - http://t.co/69rJXT5Y5t',
       '@thugIauren I had myself on airplane mode by accident ??',
       "I'm all for renewable energy but re: windfarms I do agree with Abbott - they are a horrible blight on the landscape https://t.co/UjYfRT77eJ",
       'Angry Orchard Hard Cider Recalled Due To Threat of Exploding Bottles http://t.co/OXgefsoF2B',
       'They demolished one of my favorite restaurants to put in a Chik Fil A. I hope no one goes there. I hope it tanks.',
       'IMM SCREAMING ARI IS HOLDING THE SIGN',
       'Photo: #Repost @gregskazphotography with @repostapp. åáåáåá @rainierarms Avalanche Ambi Charging Handle... http://t.co/t3dK3OoV7e'],
      dtype=object)