In [7]:
import nlp_app
import pandas as pd

In [8]:
# Train and build model
vectorizer = nlp_app.vectorizer_fit()
X_Train_vect = nlp_app.transform(vectorizer)
grid = nlp_app.train_nlp_model(X_Train_vect)

Best cross-validation score: 0.730
Best parameters:  {'C': 0.1}

In [9]:
# Vectorize / transform tweet / predict
tweet = ["Thousands killed in massive bee swarm"]
tweet_vect = nlp_app.transform_tweet(vectorizer, tweet)
nlp_app.make_prediction(grid, tweet_vect)

'Disaster'

In [42]:
df_test = pd.read_csv("../data/test.csv")
df_test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [50]:
df_test['index_col'] = df_test.index

In [51]:
df_test

,id,keyword,location,text,index_col
0,0,NaN,NaN,Just happened a terrible car crash,0
1,2,NaN,NaN,"Heard about #earthquake is different cities, s...",1
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are...",2
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires,3
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan,4
...,...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...,3258
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...,3259
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...,3260
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...,3261
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...,3262

In [60]:
tweet_list = []

for index, tweet in enumerate(df_test["text"].sample(n=11).values):
    temp_list = []
    if index ==index: 
        tweet_vect = nlp_app.transform_tweet(vectorizer, [tweet])
        prediction = nlp_app.make_prediction(grid, tweet_vect)
#         temp_list.append(id)
        temp_list.append(tweet)
        temp_list.append(prediction)
        tweet_list.append(temp_list)
    else:
        pass
tweet_list

[['WAS Times: PawSox owners public return from whirlwind trip to Durham http://t.co/07nKMO7VaS',
  'Disaster'],
 ["Bigamist and his 'first' wife are charged in the deaths of his 'second' pregnant wife her child 8 her mother\x89Û_ http://t.co/t5HwUnjK7g",
  'Disaster'],
 ['@jemmaswans i needed such a breather today oh my god i went on lunch and collapsed like a sack of bones in my car',
  'Not a Disaster'],
 ['Ok two of my favorite things have collided into one great HT #LiteraryCakes  https://t.co/E2meY0aKPu',
  'Not a Disaster'],
 ["What they (dentists) don't tell u is how much ur mouth will be in pain when the numbing wears off because of the puncture wounds in ur gums.",
  'Not a Disaster'],
 ['Worker rescued from top of Central Street water tower in Summerside http://t.co/MkMlCTYmee',
  'Disaster'],
 ['Bioterrorism : Guidelines for Medical and Public Health Management (2002) http://t.co/zkUXHnoBaG http://t.co/FHgkYxffu5',
  'Disaster'],
 ['@Mintechan Hihow are you? There is Keio line on the stationright? BTW do you know the airplane accident near Chofu airport this week?',
  'Disaster'],
 ['To All The Meat-Loving Feminists Of The World Riot... http://t.co/tNI5SCpBMA #followme | https://t.co/OFtj2sXYPf http://t.co/lVYemK99uV',
  'Not a Disaster'],
 ['Listen to Apollo Brown - Detonate (feat. M.O.P.) by Mello Music Group #np on #SoundCloud https://t.co/C0Fex1XAlG',
  'Not a Disaster'],
 ['suspected serial arsonist in east bay under arrest @christinKPIX5 @NightBeatTV 10pm @KBCWtv @VeronicaDLCruz',
  'Disaster']]

In [58]:
df_sample = df_test.sample(n = 10)

In [55]:
df_sample["text"].values

array(['took her to the trap house now lil mama trapped out ??',
       'Watch This Airport Get Swallowed Up By A Sandstorm In Under A Minute http://t.co/TLcWeZPuKW',
       'Israeli police unable to solve the case of Duma arson attack http://t.co/WtZgXzaf7Z',
       'Pandemonium In Aba As Woman Delivers Baby Without Face (Photos) - http://t.co/69rJXT5Y5t',
       '@thugIauren I had myself on airplane mode by accident ??',
       "I'm all for renewable energy but re: windfarms I do agree with Abbott - they are a horrible blight on the landscape https://t.co/UjYfRT77eJ",
       'Angry Orchard Hard Cider Recalled Due To Threat of Exploding Bottles http://t.co/OXgefsoF2B',
       'They demolished one of my favorite restaurants to put in a Chik Fil A. I hope no one goes there. I hope it tanks.',
       'IMM SCREAMING ARI IS HOLDING THE SIGN',
       'Photo: #Repost @gregskazphotography with @repostapp. åáåáåá @rainierarms Avalanche Ambi Charging Handle... http://t.co/t3dK3OoV7e'],
      dtype=object)

In [66]:
df_train = pd.read_csv("../data/train.csv")
df_train_short = df_train.sample(n=100)
df_train_short.head()

,id,keyword,location,text,target
7063,10117,upheaval,"eBooks, North America",Medieval Upheaval (Hardy Boys: The Secret File...,0
4787,6810,loud%20bang,NaN,There was a loud bang outside earlier and I ch...,0
5749,8209,riot,East London,@Dani_Riot keep an eye out we'll be looking fo...,0
3211,4607,emergency%20services,NaN,Emergency Services Committee and Personnel Com...,0
7431,10629,wounded,NaN,National free root beer float day is tomorrow ...,0

In [70]:
train_list = []

for id, keyword, location, text, target in (df_train_short.values):
    temp_list = []
    if index: 
#         tweet_vect = nlp_app.transform_tweet(vectorizer, [tweet])
#         prediction = nlp_app.make_prediction(grid, tweet_vect)
        train_list.append(id)
        train_list.append(keyword)
        train_list.append(location)
        train_list.append(text)
        train_list.append(target)
    else:
        pass
train_list

[10117,
 'upheaval',
 'eBooks, North America',
 'Medieval Upheaval (Hardy Boys: The Secret Files Book 18)\nFranklin W. Dixon - Aladdin - Kindle Edition. http://t.co/braoUBgEC2',
 0,
 6810,
 'loud%20bang',
 nan,
 'There was a loud bang outside earlier and I check to find my dad on the floor after the chair he was sitting on broke http://t.co/uniJ1RVrRq',
 0,
 8209,
 'riot',
 'East London',
 "@Dani_Riot keep an eye out we'll be looking for lots of new team members in coming days/weeks :)",
 0,
 4607,
 'emergency%20services',
 nan,
 'Emergency Services Committee and Personnel Committee Meeting on Thursday Night http://t.co/DrBcRyPj4p',
 0,
 10629,
 'wounded',
 nan,
 'National free root beer float day is tomorrow at A&amp;W from 2pm-close!! Help support the Wounded Warrior Project with donations!! :)',
 0,
 4546,
 'emergency',
 'Kuala Lumpur, Malaysia',
 'To Supply and Install New FRP Emergency Slide  at Tunas KijangBank Negara Malaysia [Closing Date: 2015-08-14]... http://t.co/ZpqwKHFhNf',
 0,
 5326,
 'fire',
 nan,
 'I See Fire',
 0,
 8880,
 'smoke',
 'Ktx',
 'I get to smoke my shit in peace',
 1,
 7065,
 'meltdown',
 'Proudly frozen Canuck eh !!',
 '@JustinTrudeau \n\nMost respected in world\nBest job recovery G7 and G20\nBest led during 2008 world meltdown\n\nWhat exactly have you done ??',
 0,
 4974,
 'explosion',
 nan,
 'Exploring New Worlds: Three Moments of an Explosion by China MiÌ©ville http://t.co/OTrwZ1t9sp http://t.co/xVlkFCvfX5',
 1,
 8668,
 'sinkhole',
 'USA',
 'Sinkhole Disrupts Downtown Trolley Service #SanDiego - http://t.co/9tb82ZMr2X',
 1,
 4710,
 'epicentre',
 'Cydia',
 "[Question] Is anybody else having this problem with the '7' circle in Epicentre? via /r/jailbreak http://t.co/48TPnmbJVG",
 0,
 10049,
 'twister',
 nan,
 'Does the opening scene of Harry Potter and the Order of the Phoenix remind anyone else of the movie Twister? Just me? Okay',
 0,
 10008,
 'twister',
 nan,
 "It's alil twister at Tha end to! I was like oh nah ??",
 1,
 4592,
 'emergency%20plan',
 nan,
 'City of Calgary activates municipal emergency plan as more thunderstorms approach http://t.co/8iHucO4GLW',
 1,
 4980,
 'explosion',
 nan,
 'Big Data and Social Information explosion: The Union That Could Evolve Your Retail Strategy...HUa',
 0,
 9330,
 'survive',
 'Gotham City',
 "You can't fight fate and you can't survive alone... I can't help but notice that almost seems like a definition of who I am...",
 0,
 1882,
 'burning',
 'Hampton Roads, VA',
 'The 8-Minute Fat-Burning Routine That\x89Ûªs Also Really Fun http://t.co/g2h7xNecD8 #fat weightless # fatburning #burnfat #skinny #workout',
 0,
 7447,
 'obliteration',
 'Overton NV',
 'This is interesting!--Why did God order obliteration of ancient Canaanites? http://t.co/XqMJHIOZxG via @worldnetdaily',
 0,
 7475,
 'obliteration',
 'DC Metro area',
 'Why did God order obliteration of ancient Canaanites? http://t.co/Sf2vwQvJYa',
 0,
 6965,
 'massacre',
 'Nottingham, England',
 'Bestie is making me watch texas chainsaw massacre ????????',
 1,
 9094,
 'suicide%20bomb',
 'Roadside',
 "If you ever think you running out of choices in life rembr there's that kid that has no choice but wear a suicide bomb vest",
 0,
 3747,
 'destroyed',
 'USA',
 'Black Eye 9: A space battle occurred at Star O784 involving 2 fleets totaling 3939 ships with 11 destroyed',
 0,
 3984,
 'devastation',
 'EVERYWHERE',
 'What would your city look like if it had been the subject of the #Hiroshima bombing? Hint-devastation. #BeyondtheBomb http://t.co/3nKcUlGVMW',
 1,
 1520,
 'body%20bags',
 'California, USA',
 'Womens Handbags Cross Body Geometric Pattern Satchel Totes Shoulder Bags White http://t.co/qvSp6b2qSU http://t.co/0s6ydFrWDQ RT gasparc\x89Û_',
 0,
 2493,
 'collided',
 'Traverse City, MI',
 'Bicycle-SUV accident in Mesick: Police say that the bicyclist entered onto West M-115 and collided with a boat... http://t.co/A9gtOPyZK8',
 1,
 5233,
 'fatality',
 'Grand Rapids MI',
 '@FaTality_US need a team? We need one.',
 0,
 8496,
 'screaming',
 nan,
 'If you are quiet enough you can literally hear the phandom screaming at the tyler tweet',
 0,
 7070,
 'meltdown',
 nan,
 'Why must I have a meltdown every few days? ??',
 0,
 6709,
 'lava',
 nan,
 'I may have gotten a little too exited over my (home made) lava lamp. Through source http://t.co/nxTTd9NrUx http://t.co/iRQj3ZKCUz',
 0,
 7662,
 'panic',
 'Charlotte, NC | KÌ¦ln, NRW',
 "@elielcruz just watching the streams was bad - I don't think I could actually walk in there I'd panic and get sick",
 1,
 8615,
 'seismic',
 nan,
 '#Sismo DETECTADO #JapÌ_n [Report 1] 01:01:56 Okinawa Island region M4.0 Depth 10km Maximum seismic intensity 3 JST #??',
 1,
 1861,
 'burned',
 nan,
 'Mad River Complex fires have burned 14028 acres 8% contained: The Mad River Complex fires in Trinity County ... http://t.co/LfNIPpNOtO',
 1,
 9012,
 'stretcher',
 'Florida',
 'Homemade frozen yogurt pops? Have you had luck making them? http://t.co/YzaZF4CEOa http://t.co/X5RC5Nuamh',
 0,
 7413,
 'obliterated',
 nan,
 "Drunk Meals 101: What To Cook When You're Totally Obliterated http://t.co/QvS7O10bG3",
 0,
 5071,
 'famine',
 nan,
 "Russian 'food crematoria' provoke outrage amid crisis famine memories http://t.co/O4xLjnaV8F",
 1,
 2452,
 'collide',
 'Malaysia',
 'When high fashion and food collide http://t.co/qDhxto57EM',
 0,
 2801,
 'curfew',
 nan,
 'Why Charlie Lim start at 9pm on this Sunday..... I have curfew leh :-(',
 0,
 10284,
 'war%20zone',
 'T-Ville',
 "Looks like a war zone outside. What's going on?",
 1,
 5509,
 'flames',
 'Bacon',
 'He better than Sean bro. I can admit that Sean is flames now. But he better than Sean https://t.co/aomQ1RYKmJ',
 0,
 10844,
 nan,
 nan,
 'SEVERE WEATHER BULLETIN No. 5 FOR: TYPHOON \x89ÛÏ#HannaPH\x89Û\x9d (SOUDELOR) TROPICAL CYCLONE: WARNING ISSUED AT 5:00 PM 06... http://t.co/tHhjJw51PE \x89Û_',
 1,
 7926,
 'rainstorm',
 'La Puente, CA',
 'Stuck in a rainstorm? Stay toward the middle of the road. Most streets are crowned so water tends to pool on the sides.',
 0,
 2565,
 'crash',
 'I-75 in Florida',
 'CLEARED: Crash in Hamilton on I-75 south at MM 459.',
 1,
 3609,
 'desolation',
 'NBO',
 'I rated The Hobbit: The Desolation of Smaug (2013) 7/10  #IMDb http://t.co/dJDeWd13wR',
 0,
 6959,
 'massacre',
 'Colorado',
 'Colorado movie massacre trial jurors reach verdict on mitigating factors http://t.co/75VLsw85GI http://t.co/txY3US2Ejs',
 1,
 9096,
 'suicide%20bomb',
 'London/Lagos/FL ÌÏT: 6.6200132,',
 'Pic of 16yr old PKK suicide bomber who detonated bomb in Turkey Army trench released http://t.co/1yB8SiZarG http://t.co/69iIzvyQYC',
 1,
 4276,
 'drowning',
 'University of Chicago',
 'Epilepsy claims another. Common and still a challenge to treat. Superhero toddler with rare epilepsy (Dravet) drowns http://t.co/VBo1tjNdps',
 0,
 10693,
 'wreck',
 'Pratt-on-Wye',
 'How many cars do those cyclists wreck going past scratching with pedals. They should be banned #c4news',
 0,
 5780,
 'forest%20fires',
 'Lansdale,Pennsylvania',
 'U.S. Forest Service says spending more than half of budget on fires: By Ian Simpson\x89Û_ http://t.co/UyYYrKd6q3',
 1,
 691,
 'attack',
 'ph',
 'anxiety attack ??',
 0,
 6867,
 'mass%20murder',
 'Melbourne, Australia',
 "Hiroshima - one of history's worst examples of mass murder  http://t.co/TmogTi6FB4 #hiroshima #war #atombomb #japan",
 1,
 998,
 'blazing',
 'Lima-Peru',
 'Oh my heart racing And my temperature is blazing through the roof #VideoVeranoMTV Fifth Harmony',
 0,
 10001,
 'tsunami',
 'Hawaii',
 'Meet Brinco your own personal earthquake snd tsunami early warning beacon. http://t.co/NXkUM9h7wD',
 1,
 2969,
 'dead',
 nan,
 "I just watched emmerdale nd I don't know who most of them are but a slightly attractive man named Ross just got beat up nd now he's dead",
 1,
 1405,
 'body%20bag',
 nan,
 'new summer long thin body bag hip A word skirt Blue http://t.co/8JymD9YPSJ http://t.co/57PKmmCaDG',
 0,
 9219,
 'suicide%20bombing',
 nan,
 "Turkish troops killed in Kurdish militant 'suicide attack' http://t.co/nVP6wrKL1E",
 1,
 8533,
 'screaming',
 'UK',
 '@blanksocietyx @emmerdale IM SCREAMING HES MY FAVOURITE',
 0,
 9565,
 'thunder',
 'Enfield, UK',
 '#PlayingNow #BLOODBOUND Seven Angels Media Stream http://t.co/dlY6rUuSqK',
 0,
 2396,
 'collapsed',
 'wherever-the-fuck washington',
 '@flickershowell oh wow my heart collapsed cool im crying cool cool',
 1,
 3025,
 'death',
 nan,
 "https://t.co/eCMUjkKqX1 @ArianaGrande @ScreamQueens \nKatherine's Death",
 0,
 3387,
 'demolition',
 nan,
 "General News \x89Û¢åÊ'Demolition of houses on waterways begins at Achimota Mile 7 ' via @233liveOnline. Full story at http://t.co/iO7kUUg1uq",
 0,
 4562,
 'emergency%20plan',
 'Calgary, Alberta, Canada',
 '.@CityofCalgary activates emergency plan amid severe thunderstorm warning http://t.co/pc7S8NxJ6Q #yyc #abstorm http://t.co/9xoHmMlMDY',
 1,
 2625,
 'crashed',
 'Victoria, Tx.',
 'Intact+MH370+Part+Lifts+Odds+Plane+Glided+Not+Crashed+Into+Sea http://t.co/MjTN3qbgOS via @YahooFinance#Hope for answers.',
 1,
 7482,
 'obliteration',
 nan,
 'Does Renovation Mean Obliteration? http://t.co/pQ3ipUgkuY #entrepreneur #management #leadership #smallbiz #startup #business',
 0,
 1787,
 'buildings%20on%20fire',
 'taken by piper curda',
 'someone: mentions gansey on fire\nme busting through the brick walls of seven different buildings:',
 1,
 8840,
 'sirens',
 'Ventura, Ca',
 'Kyle is one of the last people I would expect to like Sleeping with Sirens.',
 0,
 4899,
 'explode',
 nan,
 'Learn How I Gained Access To The Secrets Of The Top Earners &amp; Used Them To Explode My Home Business Here: http://t.co/e84IFMCczN Please #RT',
 0,
 3819,
 'detonate',
 'Colorado',
 "@BldrCOSheriff says 2nd grenade found is 'younger' that WWII era grenade found earlier. They'll detonate it at 8:00 tonight. @CBSDenver",
 1,
 8361,
 'ruin',
 nan,
 '@savannahross_4 see tryna ruin my life',
 0,
 6123,
 'hellfire',
 '?????? ???? ??????',
 '#Allah describes piling up #wealth thinking it would last #forever as the description of the people of #Hellfire in Surah Humaza. #Reflect',
 1,
 2531,
 'collision',
 'USA , AZ',
 'Anti Collision Rear- #innovation #gadgets http://t.co/SXQTydUvUL',
 0,
 5117,
 'fatal',
 'Anchorage, AK',
 'APD investigating fatal shooting of 3 year old child in southeast Anchorage http://t.co/qYccvUubkr',
 1,
 3075,
 'deaths',
 'Your screen',
 'real magic in real life:\n\nwomen went missing in Ohio town the focus of FBI probe after strange deaths and... http://t.co/6m0YNJWbc9',
 1,
 10197,
 'violent%20storm',
 'Oshawa/Toronto',
 "This is one violent and belligerent storm. I'm enjoying watching it unfold",
 1,
 3894,
 'detonation',
 'New York',
 'Detonation fashionable mountaineering electronic watch water-resistant couples leisure tab\x89Û_ http://t.co/E61x9Y65QD http://t.co/OVLET0gDqm',
 0,
 10710,
 'wreck',
 'new york',
 'act my age was a MESS everyone was so wild it was so fun my videos a wreck',
 0,
 9197,
 'suicide%20bombing',
 'England',
 "Suicide bombing for Da'esh is (rightly) despicable. Suicide bombing for Ocalan/ Marxism?\n\n= They share 'our values'. https://t.co/Gs0km0vlgk",
 1,
 5764,
 'forest%20fires',
 nan,
 'A group of Florida Forest Service firefighters could be deployed to California to help contain fires. Details at 10! http://t.co/fwuP9YURzY',
 1,
 7505,
 'oil%20spill',
 'Las Vegas, Nevada',
 'Refugio oil spill may have been costlier bigger than projected http://t.co/OSJUrFDDkt',
 1,
 3105,
 'debris',
 nan,
 'Malaysia Airlines Flight 370 that Disappeared 17months ago Debris Found South of The Indian Ocean - http://t.co/nrHURYSyPd',
 1,
 8722,
 'sinking',
 'Haarlem',
 'INVESTMENT NEWS Keurig Green Mountain Inc. Third-Quarter Earnings: Shares Sinking After-Hours - Stocks in the New\x89Û_ http://t.co/GtdNW1SpVi',
 0,
 7645,
 'panic',
 'Brasil',
 "it's don't panic",
 0,
 5557,
 'flattened',
 nan,
 "100  1' MIX NEW FLAT DOUBLE SIDED LINERLESS BOTTLE CAPS YOU CHOOSE MIX FLATTENED - Full re\x89Û_ http://t.co/w00kjPrfdR http://t.co/mIXl1pFRJe",
 0,
 6819,
 'loud%20bang',
 'Kenya',
 "nikoniko12022: Breaking news! Unconfirmed! I just heard a loud bang nearby. in what appears to be a blast of wind from my neighbour's ass.",
 0,
 10074,
 'typhoon',
 nan,
 'RT_America: RT RT_com: Eye of Super Typhoon Soudelor seen from space (TIME-LAPSE) https://t.co/FC3BxRtHPG http://t.co/BIU4koWGlz',
 1,
 4108,
 'drought',
 'Okanagan Valley, BC',
 '#MakeWaterWork Okanagan! Drought rating maxed out - Okanagan Valley http://t.co/tXrBdaUBNN http://t.co/Ue78c7EgOX #WesternCanadaDrought',
 1,
 6570,
 'injury',
 nan,
 '@Sport_EN Just being linked to Arsenal causes injury.',
 1,
 660,
 'attack',
 'Tucson, Az',
 'Suspect in latest theater attack had psychological issues http://t.co/3huhZxliiG',
 1,
 10276,
 'war%20zone',
 nan,
 'Greedy had me in the war zone ! Lmao',
 0,
 10028,
 'twister',
 nan,
 "Check out 'Want Twister Tickets AND A VIP EXPERIENCE To See SHANIA? CLICK HERE:' at  http://t.co/3GEROQ49o1\nI would Love Love Love!! To win",
 0,
 7954,
 'rainstorm',
 'Pioneer Village, KY',
 "'The way you move is like a full on rainstorm and I'm a house of cards'",
 1,
 513,
 'army',
 'Studio',
 'But if you build an army of 100 dogs and their leader is a lion all dogs will fight like a lion.',
 1,
 10412,
 'whirlwind',
 '#KaumElite;#F?VOR;#SMOFC',
 '@byuwnbeki The sad eyes and tacit stories in your heart that night in which the whirlwind was raging',
 1,
 5577,
 'flood',
 'New York',
 'Spot Flood Combo 53inch 300W Curved Cree LED Work Light Bar 4X4 Offroad Fog Lamp - Full re\x89Û_ http://t.co/mTmoIa0Oo0 http://t.co/Nn4ZtCmSRU',
 0,
 8500,
 'screaming',
 'tx',
 '@camilacabello97 Internally and externally screaming',
 1,
 9520,
 'terrorist',
 'Canada',
 'You May Know Me from Such Roles as Terrorist #4 http://t.co/xImPncZXtH',
 0,
 7878,
 'quarantined',
 nan,
 'Alabama firefighters quarantined after possible Ebola exposure http://t.co/hzpX6vAQPZ reports http://t.co/L4W0PCorbs',
 1,
 1312,
 'bloody',
 'Singapore',
 'Eh hello cover your bloody thighs your bloody cleav... \x89ÛÓ Eh hello! Since when do i expose my cleavage and i on... http://t.co/Kv5L4PPXfG',
 0,
 4750,
 'evacuate',
 'An eight-sided polygon',
 '@pantalonesfuego Yeah I grew up in the canyon above L.A. We had to evacuate a few times.',
 1,
 7198,
 'natural%20disaster',
 'Los Angeles',
 'On the sneak America has us spoiled. A natural disaster will humble niggas.',
 1]

In [65]:
df_train.sample(n=100)

,id,keyword,location,text,target
3623,5171,fatalities,Wolverhampton/Brum/Jersey,Understand that there are no fatalities as no ...,1
3456,4944,exploded,Jamaica,@ItsNasB now I have to go replace my sarcasm m...,0
6816,9763,trapped,Orlando,Hollywood Movie About Trapped Miners Released ...,0
2950,4241,drowned,U.S.A. - Global Members Site,Hundreds feared drowned as migrant boat capsiz...,1
5282,7548,outbreak,NaN,Families to sue over Legionnaires: More than 4...,1
...,...,...,...,...,...
4737,6736,lava,Indonesia,@YoungHeroesID 4. Lava Blast Power Red #Panthe...,0
6307,9012,stretcher,Florida,Homemade frozen yogurt pops? Have you had luck...,0
7103,10176,violent%20storm,Milky Way galaxy,Jupiter's Great Red Spot is a violent storm la...,0
5807,8288,rioting,Alabama,http://t.co/jMzcaqyDfa Cindy Noonan@CindyNoon...,0
5064,7218,natural%20disaster,sÌ£o luis,And you're loving me like water slipping throu...,0